<div class="row">
    <div class="col-sm-12 text-center">
        <div class="fsocial">
            <a target="_blank" href="https://www.facebook.com/huseyinppolat"><i
                        class="fab fa-facebook fa-2x"></i></a>
            <a target="_blank" href="https://twitter.com/piskolojikkdeli"><i
                        class="fab fa-twitter fa-2x"></i></a>
            <a target="_blank" href="https://www.instagram.com/huseyinppolat"><i
                        class="fab fa-instagram fa-2x"></i></a>
            <a target="_blank" href="https://www.linkedin.com/in/huseyin-polat/"><i
                        class="fab fa-linkedin fa-2x"></i></a>
            <a target="_blank" href="https://github.com/mrhpolat"><i class="fab fa-github fa-2x"></i></a>

        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 text-center">
        © Copyright 2018 - All Rights Reserved
    </div>
</div>